.yellow {
    color: #FFC300;
}

.iconLg {
  margin: 0 auto;
  color: #00bbff;
  height: auto;
}

.logoSm {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  max-width: 30% !important;
  height: auto;
}

html, body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'GothamBoldRegular', sans-serif;
}
a {
    color: black;
}

h1 {
  font-size: 48px !important;
  font-family: 'Josefin Slab', serif !important;
}

h2 {
  font-size: 30px !important;
  font-family: 'Josefin Slab', serif !important;
}

h3, h4, h5 {
  font-family: 'Josefin Slab', serif;
}

h6 {
  font-family: 'JosefinSans-Regular', serif;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: black;
  font-family: 'GothamBoldRegular', sans-serif;
}
.background {
  --color1: #00fffa;
  --color2: #006eff;
  opacity: .8;
  background: linear-gradient(#006eff, #00fffa);
}
.bg-primary {

    /* opac足ity足: (color1, 20%);
    opac足ity足: (color2, 10%); */

    height: 100%;
    /* background: linear-gradient(to bottom right, color1, color2); */

  /* // background-color: #006eff; */
}

.bg-dark {
  background-color: #222222;
  color: #3590F2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.text-faded {
  color: rgba(239, 191, 35, 0.8);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logistics {
  text-align: center;
  top: 20px;
  bottom: 400px;
}

.sponsors {
  display: inline-block;
  float: none;
  padding: 10px;
}

.padding1 {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.buffer {
  border-left: 50px;
  border-right: 50px;
}

.centered {
  margin: auto;
  max-width: 900px;
}

.section-heading {
  margin-top: 20px;
}

.text-primary {
  color: #1E83C3;
}

/* .btn-primary .badge {
  color: #1E83C3;
  background-color: #3590F2;
} */

.btn {
  font-family: 'GothamBoldRegular', sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
